.container{
    background-color: aqua;
    width: 100%;
    margin-top: 20vw;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.input-cotainer{
    border: 1 solid red;
    padding: 10px;
    background-color: antiquewhite;
    margin: 10px;

}
.add_btn{
    background-color: greenyellow;
    color: aliceblue;
    border: none;
}
.list-container{
    margin: 15px;
  
    color: white;
}
.delete-btn{
    background-color: red;
    color: white;
}